body
{
background-image:url("../image/home-banner (1).jpg");height:100vh;background-repeat:no-repeat;background-size:cover; margin:0px;pading:0px;
background-color:var;}
#j2{color:white;
word-spacing:2rem;
margin-left:350px;
margin-top:0.1px;
}
#m1{background-color:rgba(20,49,98,0.8);
width:1350px;
height:800px;
}
#k1{color:white;
margin-left:50px;
margin-top:50px;
line-height:2rem;
}
#p1{
font-size:1.2rem;
font-weight:2.5;
color:white;
line-height:2rem;
margin-left:50px;
margin-top:0px;
}

#g1{
margin-left:140px;
margin-top:60px;
}
#j5{
margin-left:50px;
margin-top:15px;
}

#bu1{
color:orange;
font-size:1.1rem;
border-color:orange;
background-color:rgba(20,49,98,0.8);
}
#bu1:hover{
background-color:orange;
box-shadow:1px 3px 5px orange;
height:36px;
width:165px;
color:white;
}
button{
width:170px;
height:40px;
margin-left:50px;
}
#bu2{
background-color:rgb(27,87,173);
color:white;

}