table,tr,.s4
{ border:solid tomato; size:0.5px;
}
td,th{
border:1px solid black;}


#s1:hover{
height:5px;
width:5px;
box-shadow:5px 5px 6px red, 5px 6px 11px blue, 5px 7px 16px purple; 
}
h2{text-shadow:.5px 2px 3px white;}
